{% extends 'dashboard_base.html' %}

{% block title %}{{ super() }} - Live Trading{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Live Trading</h1>
  </div>

  <p>Page should include:</p>
  <ul>
    <li>
      Detect if the bot is running or not. If it's running, present current live stats, trades in and STOP button. If not running, present the option to start trading.
    </li>
  </ul>
</main>
{% endblock %}
