{% extends 'dashboard_base.html' %}

{% block title %}{{ super() }} - Authentication{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Authentication</h1>
  </div>

  <p>Page should include:</p>
  <ul>
    <li>
      Detect current authenticated brokerage API accounts. If not authenticated, present user with a button to authenticate.
    </li>
    <li>
      Show dates and times for last authentication attempts for informational purposes.
    </li>
  </ul>

  {% if td_access_token %}
  <h2>Your TD Ameritrade is connected</h2>
  {% else %}
  <h2>Connect Your TD Ameritrade Account</h2>
  <p>{{ auth_url|safe }}</p>
  {% endif %}
</main>
{% endblock %}
