{% extends 'dashboard_base.html' %}

{% block title %}{{ super() }} - Bot Settings{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Bot Settings</h1>
  </div>

  <p>Page should include:</p>
  <ul>
    <li>
      View current bot settings.
    </li>
    <li>
      Update bot settings.
    </li>
    <li>
    	Option to save specific bot settings for easy access.
    </li>
  </ul>
</main>
{% endblock %}
